.navbar {
    margin: 1em 0 0 0;
    font-size: 125%;
    font-weight: bold;
}

.navbar .list,
.posts .list {
    list-style-type: none;
    padding: 0;
}

.navbar .list {
    margin: 0;
}

.navbar .list li {
    display: inline;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: #375EAB;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 13pt;
    background: white;
    margin: 0 auto;
    width: 50%;
}

.posts {
    margin-top: 0.5em;
}

.posts .post {
    line-height: 150%;
    margin-bottom: 1.25em;
}

.posts h3.title {
    margin: 0 0 0.5em;
}

.posts .post .title {
    font-weight: bold;
}

.posts .post {
    /* font-size: 90%; */
}

.posts .post .date {
    font-size: 90%;
}

.posts .list {
    margin: 0;
}

.code {
    background-color: aliceblue;
    padding: 12px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 5px #BBB;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    margin-top: 5px;
    color: gray;
    font-size: 80%;
}

.container .image {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 3px 3px 5px #BBB;
}

caption.caption {
    text-align: center;
}

.article .title {
    margin: 0.5em 0;
}

.article .subtitle {
    margin: 0;
    font-weight: normal;
    font-style: italic;
}

.article .date {
    margin: 0.25em 0;
}